@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

body{
    font-family: 'Signika Negative', sans-serif;
}

.title{
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

.line{
    width: 10rem;
    height: 0.25rem;
    background: #c59d5f;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1rem;
}

.line-item{
    width: 100%;
    height: 0.15rem;
    background: #c59d5f;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1rem;
}

.btn-container{
    text-align: center;
    margin-top: 1.5rem;
} .btn-container button{
    background-color: #c59d5f;
    color: white;
    border: solid black 2px;
    width: 8rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
}

.centralizar{
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.menu-item{
    display: flex;
    flex-direction: row;
} .menu-item h4, p{
    margin-left: 2rem;
} .menu-item h4{
    margin-top: 3rem;
    margin-bottom: 0rem;
} .menu-item p{
    margin-top: 0rem;
}

.info-item{
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.photo{
    margin-top: 2rem;
    object-fit: cover;
    width: 200px;
    height: 150px;
    border: 0.25rem solid #c59d5f;
    border-radius: 15px;
}

.info-item header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--clr-grey-5);
}

.info-text-item{
    margin-bottom: 0;
    padding-top: 1rem;
}

@media (max-width:600px) {
    .centralizar{
        display: flex;
        flex-direction: column;
    }
}